---
# layout for "multiple" display template
# creates a Mirador IIIF viewer that allows users to page between the images in a multiple.
layout: item/item-page-base
gallery: true
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}

<div class="mb-4 text-center">

    <script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
    <div id="mirador" style="width:1000px;height:550px;position:relative"></div>
    <script>

var miradorInstance = Mirador.viewer({
  id: "mirador",
  selectedTheme: 'dark', // i've chosen the light theme, you could try dark
  window: {
    defaultView: 'individuals', 
    sideBarOpen: false, // try changing to false
    sideBarPanel: "canvas",
    views: [
      { key: "single", behaviors: ["individuals", "paged"] },
      { key: "book", behaviors: ["individuals"] },
      { key: "scroll", behaviors: ["continuous"] },
      { key: "gallery" }
    ]
  },
  windows: [
    // {
    //   manifestId: "https://scta.info/iiif/plaoulcommentary/sorb/manifest", //add a manifest here that you want to miror to display onload
    //   canvasId: "http://scta.info/iiif/sorb/canvas/S2r" //add a canvas here within the above manifest that you want mirador to open on load
    // },
    {
      manifestId: "http://127.0.0.1:5500//manifest-{{page.pid}}.json"
    }
    // if you want into open another canvas, add another block here
  ],
  // list any of the manifest you want your mirador instance to load; any manifest listed above must be included below
  catalog: [
    {
      manifestId: "https://iiif.harvardartmuseums.org/manifests/object/299843"
    },
    {
      manifestId: "https://scta.info/iiif/plaoulcommentary/sorb/manifest"
    }
    // add more manifests here if desired
  ]
});
      </script>

    <div class="my-2">

        {% include item/child/compound-item-download-buttons.html %}

    </div>

</div>
